@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300i&display=swap');

.Project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14vh 0;
  font-size: 2.5rem;
}



.Project img:hover~.circleTusk {
  animation: circley 1s;
}

.Project-container {
  position: relative;
}

.Project .circleTusk {
  display: flex;
  position: absolute;
  transform: translate(45px, -180px) scale(0.3);
  transform-origin: center;
  height: 150px;
  border-radius: 100px;
  width: 150px;
  background: black;
}

.circleTusk {
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circleABC {
  display: flex;
  position: absolute;
  transform: translate(-45px, -180px) scale(0.3);
  transform-origin: center;
  height: 150px;
  border-radius: 100px;
  width: 150px;
  background: black;
  opacity: 0;
}

.showCircleTusk {
  opacity: 1;
  transform: translate(150px, -200px) scale(1) !important;
  transition: 0.4s ease-out;
}

.showCircleABC {
  opacity: 1;
  transform: translate(-200px, -200px) scale(1) !important;
  transition-delay: .1s !important;
  transition: all 0.4s ease-out;
  /* position: relative; */
}

.show-circle-abc-title {
  position: absolute;
  top: 40%;
  left: 20%;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
}

.openBriefcase {
  transform: translateY(-60px) scale(1);
  transition: all .2s ease-in-out;
}

.show-presentation-abc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 10px solid green; */
  height: 300px;
  width: 350px;
  border-radius: 0px !important;
  transform: translate(-550px, -300px) !important;
  box-shadow: 0 10px 4px -6px #000;
  background: #252525;
}

.show-presentation-tusk {
  border-radius: 0px !important;
  height: 310px !important;
  width: 350px !important;
  transform: translate(350px, -300px) !important;
  box-shadow: 0 10px 4px -6px #000;
  background: #252525 !important;

}

.project-description-abc {
  font-size: 12px;
  color: white;
  padding: 0 22px;
  opacity: 0;
  margin-top: -20px;
  font-family: monospace;
}

.project-images-abc {
  display: flex;
  height: 156px;
  width: 305px;
  opacity: 0;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: monospace;
  box-shadow: 0 1px 1px 0 black inset;
  background: none repeat scroll 0 0 black;
}

.project-images-abc img {
  height: 156px;
  animation: slider infinite 10s;
}

@keyframes slider {
  0% {
    transform: translateX(-630px);
  }

  15% {
    transform: translateX(-630px);
  }

  30% {
    transform: translateX(-315px);
  }

  45% {
    transform: translateX(-315px);
  }

  60% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(0px);
  }

  90% {
    transform: translateX(-315px);
  }

  100% {
    transform: translateX(-630px);
  }
}

.circleTusk .text {
  color: white;
  position: absolute;
  font-size: 0.6em;
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Lobster';
}


.Project-images-tusk {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 200px;
  overflow: hidden;
  margin-top: -23px;

}

.project-images {
  /* position: absolute; */
  height: 160px;
  opacity: 0;
  transform: translateX(315px);
  transition: .5s;
}

.hide {
  display: none;
}

.reveal {
  opacity: 1 !important;
}

.right-button,
.left-button {
  height: 50px;
  width: 50px;
  position: absolute;
  background: black;
  opacity: 0.6;
  z-index: 5;
}

.right-button {
  left: 0;
}

.left-button {
  right: 0;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}

.description-text {
  position: relative;
  font-size: 12px;
  color: white;
  padding: 0 22px;
  margin-top: -50px;
  /* transition: 1s !important; */
  font-family: monospace;
}

.bannerTusk,
.bannerABC {
  position: absolute;
  background: olivedrab;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: -3px 7px 3px -6px #000;
}

.bannerABC {
  top: 30px;
  left: -40px;
}

.bannerTusk {
  top: -170px;
  left: -40px;
}

.bannerTusk a,
.bannerABC a {
  text-decoration: none;
  color: white;
}

.bannerTusk:hover,
.bannerABC:hover {
  background: olive;
}

.square {
  border: 4px solid salmon;
  height: 20px;
  width: 20px;
  border-top: transparent;
  border-left: transparent;
}

.square:hover {
  border: 4px tomato solid;
  border-top: transparent;
  border-left: transparent;
}

.left-button .square {
  transform: translate(10px, 15px) rotate(-45deg)
}

.right-button .square {
  transform: translate(20px, 15px) rotate(-225deg)
}