@font-face {
  font-family: "Gingham";
  src: url("./Gingham.woff2") format("woff2");
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Gingham", sans-serif;
  font-variation-settings: "wght" 700, "wdth" 400;
  font-size: 2rem;
  margin: 0;
  animation: boldAnimation 2s infinite;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.gitHub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gitHub i {
  color: black;
  font-size: 4rem;
}

.gitHub a {
  font-size: 0.9rem;
}

.nameAndStatus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Profile settings */
.Profile {
  display: flex;
  width: 485px;
  justify-content: space-between;
}

.status {
  font-size: 1rem;
}

.nameSurname {
  font-size: 2.5rem;
}

.Languages {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: center;
}

/* Language settings */
.languageRoller {
  display: flex;
  widows: 800px;
  font-size: 5rem;
}

.languagesMain {
  height: 100px;
  overflow: hidden;
}

ul li {
  list-style-type: none;
  transform: translate(-20px, 30px);
  animation: roller 15s infinite cubic-bezier(0.56, 0.54, 0.62, 1.15);
  animation-direction: alternate;
}

@keyframes roller {
  10% {
    transform: translate(-20px, -85px);
  }
  20% {
    transform: translate(-20px, -175px);
  }
  30% {
    transform: translate(-20px, -275px);
  }
  40% {
    transform: translate(-20px, -365px);
  }
  50% {
    transform: translate(-20px, -465px);
  }
  60% {
    transform: translate(-20px, -565px);
  }
  70% {
    transform: translate(-20px, -655px);
  }
  80% {
    transform: translate(-20px, -755px);
  }
  90% {
    transform: translate(-20px, -855px);
  }
  100% {
    transform: translate(-20px, -950px);
  }
}

/* Projects settings */
.Project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14vh 0;
  font-size: 2.5rem;
}

.projectTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10vh;
}
canvas {
  z-index: -10;
  position: absolute;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.hidden {
  display: none;
}

.projectDesc {
  margin-top: 1vh;
  font-size: 1.5rem;
  font-variation-settings: "wght" 200, "wdth" 400;
  text-align: center;
  width: 600px;
}

.projectMainTitle {
  font-variation-settings: "wght" 800, "wdth" 400;
  font-size: 4rem;
}

.projectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 830px;
}

.projectImages img {
  height: 200px;
  margin-top: 4vh;
}

.status {
  animation: glitch-text infinite 3s;
}

@keyframes glitch-text {
  0% {
    transform: translate(30px, 0);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0)
      scale3d(-1, -1, 1);
  }
  10%,
  100% {
    transform: translate(0, 0) scale3d(1, 1, 1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 600px) {
  .Profile {
    width: 330px;
  }

  .App {
    font-size: 1rem;
  }

  .projectImages {
    width: 100%;
  }
}
